.welcome-header {
  margin: 90px 0px;
  text-align: center;
  display: flex;
  flex-direction: column; /*타이틀과 텍스트를 수직으로 정렬*/
  align-items: center; /*수직으로 배치한 후, 중앙에 오도록*/
}
.welcome-header__title {
  margin-bottom: 40px;
  font-size: 25px;
}
.welcome-header__text {
  width: 56%; /*화면의 50%를 차지하도록*/
  opacity: 0.8;
}
/*만약 id가 아닌 class를 썼다면
  login-form__btn, login-form__input
  등과 같이 썼을 것 또한 #이 아닌 .으로 시작한다*/
#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}
#login-form input {
  padding: 15px 0px;
  font-size: 18px;
  border: none;
  margin-bottom: 25px;
  /*입력창을 입력했을 때 border-color 0.3초 뒤에 바뀜*/
}
#login-form input:not([type="submit"]) {
  border-bottom: 0.1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}

#login form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
#login-form input:focus {
  border-color: var(--yellow);
}
#login-form input[type="submit"] {
  background-color: var(--yellow);
  cursor: pointer;
  padding: 20px 0px;
  border-radius: 5px;
}
#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit; /*부모로부터 색상을 상속받음*/
  font-size: 14px;
}
