.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  /*이렇게만 하면 find의 아이콘이 보이지 않음*/
  box-sizing: border-box;
  /*padding이나 다른 값을 주더라도 고정된 박스의
  크기 이상을 넘지 않고 그 안에서만 한정적으로 있게끔*/
  background-color: #f9f9fa;
  padding: 20px 40px;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  position: relative;
  color: #2e363e;
}
.nav__notification {
  background-color: tomato;
  width: 30px;
  height: 30px;
  display: flex;
  border-radius: 50%; /*또는 15px*/
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  position: absolute;
  /*숫자가 아이콘 위로 올라오도록 하기 위함
    absolute를 쓰려면 nav__notifiication을
    감싸고 있는 nav__link에 position: relative
    써주어야 제대로 작동됨*/
  left: 15px;
  bottom: 15px;
}
/*알림 버튼 [1]이 회전하도록 하는 애니메이션*/
@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotateX(360deg);
  }
  100% {
    transform: none;
  }
}
.nav__notification {
  position: absolute;
  left: 15px;
  bottom: 15px;
  animation: notificationAnimation 3s ease-in-out infinite;
}
/*버튼이 각각 밑에서 튀어나오도록 하는 애니메이션*/
@keyframes appearBtnAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.nav__btn {
  transform: translateY(80px);
  opacity: 0;
  animation: appearBtnAnimation 0.3s ease-in-out forwards;
}
.nav__btn:nth-child(2) {
  animation-delay: 0.3s;
}
.nav__btn:nth-child(3) {
  animation-delay: 0.6s;
}
.nav__btn:last-child {
  animation-delay: 0.9s;
}
