.nav__little {
  background-color: tomato;
  width: 5px;
  height: 5px;
  display: flex;
  border-radius: 50%; /*또는 15px*/
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  position: absolute;
  right: -10px;
  top: -10px;
}
.second {
  right: -75px;
  top: -25px;
}
.third {
  right: -125px;
}
