#no-mobile {
  position: absolute;
  z-index: 99;
  height: 100vh;
  background-color: var(--yellow);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: 600;
  top: 0;
}
@media screen and (max-width: 520px) {
  /*최대로 645px일 때는 display 하지 말고, 
  520px보다 크면 display: flex; 될 것*/
  #no-mobile {
    display: none;
  }
}
