.user-component {
  justify-content: space-between;
  /*Channel과 2 >를 떨어뜨리기 위해서*/
}
.user-component,
.user-component__column:first-child {
  display: flex;
  align-items: center;
}
.user-component__avatar {
  width: 70px;
  height: 70px;
  border-radius: 30px; /*원은 아니고 아주 조금 각지게*/
  margin: var(--horizontal-space); /*동일한 여백*/
}
.user-component__title {
  font-weight: 500;
  font-size: 18px;
}
.user-component__subtitle {
  margin-top: 8px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
}

.user-component__avatar--xl {
  width: 80px;
  height: 80px;
}
.user-component__avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}
.user-component__title--not-bold {
  font-weight: 400;
}
.user-component__column:last-child {
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  /*이것만 해주면 friends의 2>도 깨지게 됨
  friends.html로 가서 last-child에 해당되는
  것들을 div로 묶어주면 해결할 수 있다!*/
}
.user-component__time {
  margin-bottom: 10px;
  display: block;
}
